@using SmarTreaty.Helpers.Extensions
@model SmarTreaty.ViewModels.Courses.DetailsCourseViewModel


@{
    ViewBag.Title = Model.Name;
}

<div class="px-2">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanningMethodCode)
        </dt>

        <dd>
            @Model.PlanningMethodCode.GetDisplayName()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainers)
        </dt>

        <dd>
            @foreach (var trainer in Model.Trainers)
            {
                var user = trainer.User;
                <p>@user.FirstName @user.LastName</p>
            }
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-primary"})
    </div>
</div>