@model SmarTreaty.ViewModels.Courses.EditCourseViewModel

@{
    ViewBag.Title = "Edit course";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class="d-flex">
            <div class="flex-fill">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "col-form-label col-md-2 font-weight-bold"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", autocomplete = "off"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.IsNew, new {@class = "custom-control-input"})
                            <label class="custom-control-label ccl-right font-weight-bold" for="@Html.IdFor(model => model.IsNew)">
                                New Course
                            </label>
                            @Html.ValidationMessageFor(model => model.IsNew, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TypeCode, new {@class = "col-form-label pl-3 font-weight-bold"})
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.TypeCode, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.TypeCode, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PlanningMethodCode, new {@class = "col-form-label pl-3 font-weight-bold"})
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.PlanningMethodCode, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.PlanningMethodCode, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseGroupId, new {@class = "col-form-label pl-3 font-weight-bold"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CourseGroupId, ViewBag.CourseGroupsList as SelectList, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.CourseGroupId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="flex-fill">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "col-form-label col-md-2 pl-0 font-weight-bold"})
                    @Html.TextArea("Description", null, new {@class = "form-control w-100 h-100", rows = 14, cols = 7})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="pl-3">
            <div class="d-flex">
                <div>
                    @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-success"})
                </div>
                <div class="ml-auto">
                    <input type="submit" value="Save" class="btn btn-warning"/>
                </div>
            </div>
        </div>

    </div>
}