@model IEnumerable<SmarTreaty.ViewModels.CourseGroups.IndexCourseGroupViewModel>

@{
    ViewBag.Title = "Course Groups";
}

<div class="px-2">
    <div>
        @Html.ActionLink("Add group", "Create", null, new {@class = "btn btn-primary float-right mb-2"})
    </div>
    <table class="table table-bordered">
        <thead class="table-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="width: 175px;">
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-warning m-1"})
                    @{
                        if (item.Courses.Count != 0)
                        {
                            var courses = string.Join("|", item.Courses.Select(c => c.Name));
                            <a href="" class="btn btn-danger m-1" onclick="loadCourseDataInModal('@item.Name', @item.Courses.Count, '@courses')" data-toggle="modal" data-target="#deleteDepModal">Delete</a>
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger m-1"})
                        }
                    }
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script type="text/javascript" language="javascript">
        function loadCourseDataInModal(name, info, courses) {
            $("#name").html(name);
            $("#info").html(info);
            $("#courses").empty();
            const courseArray = courses.split("|");
            for (let i in courseArray) {
                if (courseArray.hasOwnProperty(i)) {
                    $("#courses").append(`<p>${+i + 1}) ${courseArray[i]}</p>`);

                }
            }
        }
    </script>
}

<div id="deleteDepModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Course Group has dependencies!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div>
                        Course Group <strong id="name"></strong>
                        has <strong id="info"></strong> dependents and cannot be deleted:
                    </div>
                    <div id="courses">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>