@model SmarTreaty.Common.ViewModels.Users.DetailsUserViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<div class="px-2">
    <div class="d-flex">
        <dl class="dl-horizontal flex-fill">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrivateKey)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrivateKey)
            </dd>


        </dl>
        <dl class="flex-fill">
            <dd style="width: 300px;">
                @{
                    @*var base64String = Convert.ToBase64String(Model.Photo);
                    <img class="card-img-top" src="@string.Format($"data:image/png;base64,{base64String}")" alt="Card image cap">*@
                }
            </dd>
        </dl>
    </div>

    <p>
        <input type="button" onclick="history.back()" value="Back" class="btn btn-primary" />
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    </p>
</div>