@model SmarTreaty.Common.ViewModels.Users.DetailsUserViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<div class="user_details_container">
    <dl class="dl-horizontal flex-fill">
        <div class="user_detail">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <div class="user_detil_value">
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </div>
        </div>

        <div class="user_detail">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <div class="user_detil_value">
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </div>
        </div>

        <div class="user_detail">
            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <div class="user_detil_value">
                <dd>
                    @Html.DisplayFor(model => model.Login)
                </dd>
            </div>
        </div>

        <div class="user_detail">
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>

            <div class="user_detil_value">
                <dd>
                    @Html.DisplayFor(model => model.RegistrationDate)
                </dd>
            </div>
        </div>

        <div class="user_detail">
            <dt>
                @Html.DisplayNameFor(model => model.Wallet)
            </dt>

            <div class="user_detil_value">
                <dd>
                    @Html.DisplayFor(model => model.Wallet)
                </dd>
            </div>
        </div>

        <div class="btn-group" style="margin: 10px 0;">
            <input type="button" onclick="history.back()" value="Back" class="btn btn-outline-secondary" />
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
        </div>

    </dl>
        <dl class="flex-fill">
            <dd style="width: 300px;">
                @{
                    @*var base64String = Convert.ToBase64String(Model.Photo);
                    <img class="card-img-top" src="@string.Format($"data:image/png;base64,{base64String}")" alt="Card image cap">*@
                }
            </dd>
        </dl>
</div>