@model IEnumerable<SmarTreaty.Common.DomainModel.Contract>

@{
    ViewBag.Title = "Active Contracts";
}

<div class="d-flex align-items-center" style="margin-top: -35px">
    <div class="flex-fill mr-5">
        @using (Html.BeginForm("Index", "Contracts", FormMethod.Get))
        {
            <div class="d-flex py-3">
                @Html.TextBox("StartDate", null, new { type = "date", autocomplete = "off", @class = "form-control w-50 mr-3", placeholder = "" })
                @Html.TextBox("EndDate", null, new { type = "date", autocomplete = "off", @class = "form-control w-50 mr-3", placeholder = "" })
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        }
    </div>

    <div class="flex-fill">
        @Html.ActionLink("Create Contract", "Templates", "Contracts", new { }, new { @class = "btn btn-secondary btn-block" })
    </div>

</div>

<table class="table table-bordered">
    <thead class="table-warning">
        <tr>
            <th>
                Name
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>


    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">No matches</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="width: 300px;">
                    @item.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }
    }
</table>