@model IEnumerable<SmarTreaty.Common.DomainModel.Template>

@{
    ViewBag.Title = "Templates";
}

<div class="table_container">
    <table class="table table-striped table-borderless select_template_table">
        <thead>
            <tr>
                <th scope="col" style="width: 300px;">Name</th>
                <th scope="col">Abi</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in Model)
            {
                <tr>
                    <td>template_name</td>
                    <td>template_abi</td>
                    <td>
                        @Html.ActionLink("Create", "Create", "Contracts", new { templateId = template.Id }, new { @class = "btn btn-lg btn-outline-light" })
                    </td>
                </tr>
            }
            <tr>
                <td>Name1</td>
                <td>Abi1</td>
                <td>
                    @Html.ActionLink("Create", "Create", "Contracts", new { templateId = 1 }, new { @class = "btn btn-lg btn-outline-light" })
                </td>
            </tr>
            <tr>
                <td>Name2</td>
                <td>Abi2</td>
                <td>
                    @Html.ActionLink("Create", "Create", "Contracts", new { templateId = 2 }, new { @class = "btn btn-lg btn-outline-light" })
                </td>
            </tr>
            <tr>
                <td>Loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong Name3</td>
                <td>Abi3</td>
                <td>
                    @Html.ActionLink("Create", "Create", "Contracts", new { templateId = 3 }, new { @class = "btn btn-lg btn-outline-light" })
                </td>
            </tr>
            <tr>
                <td>Name4</td>
                <td>Loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong Abi4</td>
                <td>
                    @Html.ActionLink("Create", "Create", "Contracts", new { templateId = 4 }, new { @class = "btn btn-lg btn-outline-light" })
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="solo_button_container">
    <button type="button" onclick="history.back()" class="btn btn-outline-secondary btn-block">Back</button>
</div>



