@model IEnumerable<SmarTreaty.ViewModels.TrainerGroups.IndexTrainerGroupViewModel>

@{
    ViewBag.Title = "Trainers";
}

    <div class="p-2 form-group">
        @using (Html.BeginForm("Index", "TrainerGroups", new {area=""}, FormMethod.Get))
        {
            <div class="d-flex py-3">
                @Html.TextBox("Search", null, new { autocomplete = "off", @class = "form-control mr-3", style = "width: 20rem;", placeholder = "Type user name for search" })
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        }

        @foreach (var item in Model)
        {
            <div>
                @Html.Label(item.Name, htmlAttributes: new { @class = "font-weight-bold" })
                <div class="d-flex flex-wrap">
                    @foreach (var trainer in item.Trainers)
                    {
                        var user = trainer.User;
                        var base64String = Convert.ToBase64String(user.Photo);
                        var photoSrc = string.Format($"data:image/png;base64,{base64String}");
                        <div class="card border-secondary mr-3 my-3" style="width: 20rem;">
                            <div class="d-flex">
                                <div>
                                    <img class="card-img-top" src="@photoSrc" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="" onclick="loadTrainerInModal('@user.FirstName', '@user.LastName', '@trainer.Info', '@photoSrc')" data-toggle="modal" data-target="#trainerInfo" style="color: black">@user.FirstName @user.LastName</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

<div id="trainerInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Trainer Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div>
                        <h1 id="name"></h1>
                        <p id="info"></p>
                    </div>
                    <div class="ml-auto">
                        <img id="photo" alt="Trainer photo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" language="javascript">
        function loadTrainerInModal(firstName, lastName, info, photo) {
            $("#name").html(firstName + " " + lastName);
            $("#info").html(info);
            $("#photo").attr("src", photo);
        }
    </script>
}