<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmarTreaty</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cmsys.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<aside>
    <nav id="sidebar" data-spy="scroll" class="bg-light">
        <div id="sidebar-header" class="sidebar-header">
            @Html.ActionLink("SmarTreaty", "Index", "Home", new { area = "" }, new { @class = "nav-link-a text-light" })
        </div>

        <div class="left_nav_list">
            <ul>
                <li>
                    <nav class="navbar">
                        <a class="nav-link-a h4 w-100" data-toggle="collapse" data-target="#navbarContracts" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            Contracts
                        </a>
                        <div class="navbar-collapse collapse" id="navbarContracts">
                            <ul>
                                <li>
                                    @Html.ActionLink("List", "Index", "Contracts", new { }, new { @class = "h4 nav-link nav-link-a" })
                                </li>
                                <li>
                                    @Html.ActionLink("Create", "Create", "Contracts", new { }, new { @class = "h4 nav-link nav-link-a" })
                                </li>
                            </ul>
                        </div>
                    </nav>
                </li>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <li>
                        <nav class="navbar">
                            <a class="nav-link-a h4 w-100" data-toggle="collapse" data-target="#navbarAdmin" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                Admin
                            </a>
                            <div class="navbar-collapse collapse" id="navbarAdmin">
                                <ul>
                                    <li>
                                        @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { @class = "h4 nav-link nav-link-a" })
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </li>
                }
                @if (HttpContext.Current.User.IsInRole("editor"))
                {
                    <li>
                        <nav class="navbar">
                            <a class="nav-link-a h4 w-100" data-toggle="collapse" data-target="#navbarEditor" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                Editor
                            </a>
                            <div class="navbar-collapse collapse" id="navbarEditor">
                                <ul>
                                    <li>
                                        @Html.ActionLink("Templates", "Index", "Templates", new { area = "editor" }, new { @class = "h4 nav-link nav-link-a" })
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </li>
                }
            </ul>
        </div>
    </nav>
</aside>

<nav class="navbar fixed-top shadow">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="d-flex flex-row align-items-center">
            <button id="sidebarCollapse" class="btn rounded-circle navbar-button">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div id="nav-title" class="px-3 text-truncate text-light h4">
                @ViewBag.Title
            </div>
        </div>
        @Html.ActionLink("Sign out", "SignOut", "Account", new { area = "" }, new { @class = "h4 nav-link text-light", style = "width: 131px;" })
    </div>
</nav>


<div class="body-content">
    @RenderBody()
    <div class="overlay"></div>
    <div class="fixed-bottom bg-light p-3">
        <footer>
            <p>&copy; @DateTime.Now.Year - SmarTreaty - Igor Turtsevich, Anton Rekuts, Vitaly Vasiliev</p>
        </footer>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/_layout.js")
@RenderSection("scripts", false)
</body>
</html>