@model SmarTreaty.ViewModels.Trainers.EditTrainerViewModel

@{
    ViewBag.Title = "Edit trainer: " + Model.User.FirstName + " " + Model.User.LastName;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Info, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Info, new {htmlAttributes = new {@class = "form-control", autocomplete = "off"}})
                @Html.ValidationMessageFor(model => model.Info, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainerGroupId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrainerGroupId, ViewBag.TrainerGroupsList as SelectList, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TrainerGroupId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-primary"})
                <input type="submit" value="Save" class="btn btn-warning"/>
            </div>
        </div>
    </div>
}